@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

@font-face {
    font-family: 'Undefined Medium';
    src: url('undefined-medium.woff2');
}

html {
    background-color: #ff2f44;
}

.container {
    max-width: 960px;
}

.bg-color {
    background-color: #ff2f44;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
    background: radial-gradient(ellipse at bottom, #142538 0%, #000000 100%);
    height: 100%;
}

p,
li {
    font-size: 1.2em;
}

.lead {
    font-size: 1.5em;
    line-height: 1.5em;
}

.main-image {
    margin-top: 20vh;
}

.subtitle {
    color: #333;
    font-family: "Undefined Medium";
    font-size: 3em;
    text-transform: uppercase;
}

.main-title {
    color: #ff2f44;
    font-family: "Undefined Medium";
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .main-title {
        font-size: 2.5em;
    }
}

.navbar {
    padding: 30px;
}

::selection {
    color: white;
    background: #ff2f44;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    color: white;
    background: #ff2f44;
    /* Gecko Browsers */
}

::-webkit-scrollbar {
    width: 0px;
}

.cmu-footer-image {
    width: 12rem;
}

.fb-footer-image {
    width: 6rem;
}

footer {
    font-size: 80%;
}