<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CMU Business Technology Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/site.webmanifest">
    <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#FF2F44">
    <link rel="shortcut icon" href="../static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ff2f44">
    <meta name="msapplication-config" content="../static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="container">
        <div id="header">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>Carnegie Mellon University's</h3>
                </div>
            </div>
            <br>
            <div class="row" class="align-middle">
                <div class="col-md-6 text-right">
                    <img id="logo" src="../static/images/logo.png">
                </div>
                <div class="col-md-6 text-left">
                    <h1>Business</h1>
                    <h1>Technology</h1>
                    <h1>Group</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Coming soon...</h2>
                <input type="text" id="subscribe" placeholder="Enter your email...">
                <button onclick="addEmailList()">Subscribe</button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>
</body>

</html>