<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CMU Business Technology Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/site.webmanifest">
    <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#FF2F44">
    <link rel="shortcut icon" href="../static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ff2f44">
    <meta name="msapplication-config" content="../static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/stars.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<body data-aos="fade">
    <nav class="navbar bg-black">
        <a class="navbar-brand" href="/">
            <img src="../static/images/BTG Logo Color Isolate.png" width=50px class="" alt="">
        </a>
        <div class="my-2 my-md-0 mr-md-3">
            <!-- <a class="text-muted" href="/team">About</a> -->
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row main-image ">
            <div class="col-md-10 text">
                <!-- https://codepen.io/rebecca-m-ller/pen/mvvXdp?page=1& -->
                <h1 class="display-3 main-title content" id="title">We build the<br></h1>
                <div class='dash'></div>
            </div>
        </div>

        <div class="row text-white">

            <div class="col-md-8 col-sm-10 mt-4 font-weight-normal">
              <div id="mc_embed_signup" class="row">
                <form action="https://cmu.us20.list-manage.com/subscribe/post?u=2f77ab610640a97c09a7c2193&amp;id=17948cdb23" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col s12" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll" class="row">
                      <div class="col s12">
                      	<input type="email" placeholder="Your Email Address" name="EMAIL" class="required email" id="mce-EMAIL"><!--
                        --><input type="submit" value="Join Mailing List!" name="subscribe" id="mc-embedded-subscribe" class="button">
                      </div>
                    	<div id="mce-responses" class="clear">
                    		<div class="response" id="mce-error-response" style="display:none"></div>
                    		<div class="response" id="mce-success-response" style="display:none"></div>
                    	</div>
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2f77ab610640a97c09a7c2193_17948cdb23" tabindex="-1" value=""></div>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-md-8 col-sm-10 mt-4 font-weight-normal">
                <p>The Carnegie Mellon Undergraduate Business Technology Group is a collective of
                    interdisciplinary
                    thinkers, dedicated
                    to making
                    applied technology skills accessible to everyone on campus.&nbsp;
                    <a href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="true"
                        aria-controls="collapseExample" onclick="changeText()">
                        <span id="expand" style="color:#ff2f44;">more</span>
                    </a></p>

                <div class="collapse" id="collapseExample">
                    <p>
                        Our mission is to provide underclassmen interested in technology with a strong understanding of
                        potential career paths
                        and offer them opportunities to gain hands-on experience in their areas of interest.</p>

                    <p>To accomplish this, we:</p>

                    <ul>
                        <li>Foster technical knowledge through interactive workshops on cutting edge technology</li>
                        <li>Apply technology via project committees that produce high quality content in web
                            development
                            and
                            data science</li>
                        <li>Facilitate networking by inviting our corporate partners to campus for insightful talks</li>
                        <li>Keep members up-to-date with weekly newsletters regarding all things technology</li>
                    </ul>

                    <p>BTG, in addition to its core group, offers two specialized divisions: BTG Web and BTG Analytics.
                        We keep admission into these divisions competitive to ensure we may best execute our mission,
                        but value passion for business technology more than initial aptitude.</p>

                    <p>We hope you are just as excited as we are for our spring 2019 semester. Stay tuned for more
                        information!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-image bg-black">
        <footer class="pt-4 my-md-5 pt-md-5">
            <div class="row">
                <div class="col-12 col-md bottom-space-mobile">
                    <img class="mb-4" src="../static/images/BTG Logo Color Isolate.png" alt="" width="30">
                    <br>
                    <a href="https://facebook.com/cmubtg"><img src="../static/images/FindUs-FB-RGB-Wht.svg" class="fb-footer-image hidden-sm-up"
                            alt=""></a>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Web</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="team.html">Team</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Analytics</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">BTG</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Executive Board</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="row my-md-5 pt-md-5 pt-4 pb-md-5 border-top">
            <div class="col-12 col-md">
                <p class="text-white font-weight-bold">We build the cutting edge.</p>
                <p class="mb-3 text-muted">CMU Business Technology Group 2019</p>
                <br>
                <a href="https://cmu.edu"><img src="../static/images/CMU_Logo_Horiz_White.png" class="cmu-footer-image mb-5"
                        alt=""></a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
      function changeText()
      {
          if (document.getElementById('expand').innerHTML == "more") {
            document.getElementById('expand').innerHTML = 'less';
          } else {
            document.getElementById('expand').innerHTML = 'more';
          }
      }

      if (navigator.userAgent.match(/Mobile/)) {
          document.getElementById('mc-embedded-subscribe').value = 'Join List';
      }
    </script>

    <script src="../static/js/text.js"></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
