<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CMU Business Technology Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/site.webmanifest">
    <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#FF2F44">
    <link rel="shortcut icon" href="../static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ff2f44">
    <meta name="msapplication-config" content="../static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/stars.css">
</head>

<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>

<body>
    <nav class="navbar bg-black">
        <a class="navbar-brand" href="/">
            <img src="../static/images/BTG Logo Color Isolate.png" width=50px class="" alt="">
        </a>
    </nav>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-10">
                <h1 class="main-image display-3 main-title" id="title">We build the bleeding&nbsp;edge</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 mt-4 font-weight-light">
                <p class="">The Carnegie Mellon Undergraduate Business Technology Group is a collective of
                    interdisciplinary
                    thinkers, dedicated
                    to making
                    applied technology skills accessible to everyone on campus.
                    Our mission is to provide underclassmen interested in technology with a strong understanding of
                    potential career paths
                    and offer them opportunities to gain hands-on experience in their areas of interest.</p>
                <p class="">To accomplish this, we:</p>

                <ul class="">
                    <li>Foster technical knowledge through interactive workshops on cutting edge technology</li>
                    <li>Apply technology via project committees that produce high quality content in web development
                        and
                        data science</li>
                    <li>Facilitate networking by inviting our corporate partners to campus for insightful talks</li>
                    <li>Keep members up-to-date with weekly newsletters regarding all things technology</li>
                </ul>
                <p>We hope you are just as excited as we are for our spring 2019 semester. Stay tuned for more
                    information!</p>
            </div>
        </div>
    </div>

    <div class="container pt-4 mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="https://cmu.edu"><img src="../static/images/CMU_Logo_Horiz_White.png" class="cmu-footer-image"
                        alt=""></a>
                <hr>
                <a href="https://facebook.com/cmubtg"><img src="../static/images/FindUs-FB-RGB-Wht.svg" class="fb-footer-image"
                        alt=""></a>
                <hr>
                <p class="lead text-muted">Carnegie Mellon University Business Technology Group 2019</p>
                <p class="small text-muted">Doesn't quite fall off the tip of the tongue</p>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="../static/js/script.js"></script>

</html>