<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CMU Business Technology Group - Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicons/favicon-16x16.png">
    <link rel="manifest" href="../static/favicons/site.webmanifest">
    <link rel="mask-icon" href="../static/favicons/safari-pinned-tab.svg" color="#FF2F44">
    <link rel="shortcut icon" href="../static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ff2f44">
    <meta name="msapplication-config" content="../static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<a href="#" class="d-block px-3 py-2 pt-0 mt-0 text-center text-bold text-white bg-color">Recruiting update: Check your
    email for BTG Analytics interview times!</a>

<body>
    <nav class="navbar bg-black">
        <a class="navbar-brand" href="index.html">
            <img src="../static/images/BTG Logo Color Isolate.png" width=50px class="" alt="">
        </a>
        <div class="my-2 my-md-0 mr-md-3">
            <a class="text-muted" href="team.html">Executive team</a>
        </div>
    </nav>
    <div class="container mt-4 mb-5 pb-5">
        <div class="row main-image">
            <div class="col-md-10 mx-auto bg-white pt-5 pb-5 pr-5 pl-5 rounded text-center">
                <h1 class="display-4 subtitle pt-4" id="title">What we do</h1>
                <p class="lead font-weight-normal">We think that technology drives human potential and enterprise.
                    There is a ton of fascinating applications of technology left to explore, which promise to advance
                    business and human wellbeing alike.</p>

                <p class="lead font-weight-normal">As the next generation of industry leaders and engineers, we teach
                    and spread what we see as vital to supporting our vision of the future. There is no shortage of
                    brilliant individuals at Carnegie Mellon; we just bring them together into one organization.</p>

                <p class="lead font-weight-bold">Exciting times are ahead. Join BTG today.</p>
            </div>
        </div>
    </div>

    <section class="bg-white">
        <div class="container mt-4 pt-5 mb-5 pb-5">
            <div class="row">
                <div class="col-md-10">
                    <h2 class="font-weight-bold">Our team</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="background-color:green; height:10vh;"></div>
            <div class="col-md-6" style="background-color:red; height:10vh;"></div>
        </div>
        <div class="row mx-0 my-0">
            <div class="col-md-6 px-0 py-0" style="background-color:blue; height:10vh;"></div>
            <div class="col-md-6 px-0 py-0" style="background-color:yellow; height:10vh;"></div>
        </div>
        <div class="row mx-0 my-0">
            <div class="col-md-6 px-0 py-0" style="background-color:purple; height:10vh;"></div>
            <div class="col-md-6 px-0 py-0" style="background-color:orange; height:10vh;"></div>
        </div>
        <div class="row mx-0 my-0">
            <div class="col-md-6 px-0 py-0" style="background-color:magenta; height:10vh;"></div>
            <div class="col-md-6 px-0 py-0" style="background-color:cyan; height:10vh;"></div>
        </div>
        <div class="row mx-0 my-0">
            <div class="col-md-6 px-0 py-0" style="background-color:honeydew; height:10vh;"></div>
            <div class="col-md-6 px-0 py-0" style="background-color:khaki; height:10vh;"></div>
        </div>
        <div class="row mx-0 my-0">
            <div class="col-md-6 px-0 py-0" style="background-color:goldenrod; height:10vh;"></div>
            <div class="col-md-6 px-0 py-0" style="background-color:greenyellow; height:10vh;"></div>
        </div>
    </section>

    <div class="container">
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-4" src="../static/images/BTG Logo Color Isolate.png" alt="" width="30">
                    <br>
                    <a href="https://cmu.edu"><img src="../static/images/CMU_Logo_Horiz_White.png" class="cmu-footer-image mb-2"
                            alt=""></a>
                    <small class="d-block mb-3 text-muted">Carnegie Mellon University Business Technology Group 2019</small>
                    <br>
                    <a href="https://facebook.com/cmubtg"><img src="../static/images/FindUs-FB-RGB-Wht.svg" class="fb-footer-image hidden-sm-up"
                            alt=""></a>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Web</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">Analytics</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Team</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5 class="text-white">BTG</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Executive team</a></li>
                        <li><a class="text-muted" href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</html>